.btn {margin-right: 19px !important;}
.groupOfButton > div.row {margin-bottom: 12px !important;}
.calculator {padding-top: 40px;}
.form-group > div {border: solid gray 1px;}
body {background-color: black !important;}
#txtCal {color: white;}